//variables
/* Colors */
$dc: hsl(185, 75%, 39%);
$dblue: hsl(229, 23%, 23%);
$gblue: hsl(227, 10%, 46%);

//Import
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//Styling
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $dc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pattern{
    position: relative;

    #pattern1{
        img{
            width: 18em;
            height: 30em;
            position: absolute;
        }
        
    }

    #pattern2{
        img{
            margin-top: 25vh;
            left: 50%;
            width: 40em;
            position: absolute;
        }
        
    }
}

#box{
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 6px 1px rgba(0,0,0,.2);
    width: 20em;

    #bg-pattern{
        img{
            border-top-left-radius: 10px;
            border-top-right-radius:10px;
            width: 100%;
        }
    }

    #box-bio{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;

       .dispImg{
           margin: 0 auto;
           position: relative;
           bottom: 3rem;
           img{
               border-radius: 50%;
               border: 5px solid white;
           }
       }

       .bio{
        position: relative;
        margin-top: -2em;
        width: 100%;
        border-bottom: 1px solid rgb(228, 228, 228);
        text-align: center;
         
         .name{
            font-weight: 700;
            font-size: 18px;
            padding-right: 5px;
            color: rgb(65, 65, 65);
            letter-spacing: 0.5px;
         }

         .age{
             font-weight: 400;
             font-size: 18px;
             color: rgb(87, 87, 87);
         }
         
         .state{
             padding-top: 1em;
             padding-bottom: 1.5em;
             font-size: 14px;
             color: grey;
             text-align: center;
         }
       }

       .info{
           display: flex;
           justify-content: space-around;
           width: inherit;
           padding: 2em 1em;
           text-align: center;
           color:rgb(65, 65, 65);

           .followers{
               .numb1{
                   font-size: 18px;
                   font-weight: 700;
               }

               .label1{
                   font-size: 10px;
                   padding-top: 0.8em;
                   letter-spacing: 2px;
               }
           }

           .likes{
               .numb2{
                   font-size: 18px;
                   font-weight: 700;
               }

               .label2{
                   font-size: 10px;
                   padding-top: 0.8em;
                   letter-spacing: 2px;
               }
           }

           .photos{
               .numb3{
                   font-size: 18px;
                   font-weight: 700;
               }

               .label3{
                   font-size: 10px;
                   padding-top: 0.8em;
                   letter-spacing: 2px;
               }
           }
       }
    }
}

footer{
    margin-top: 20vh;
    color: white;
    
    .attribution{
        a{
            color: black;
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}

/* media queries */
@media screen and (min-width: 320px){
    #pattern{
        #pattern1{
            img{
                width: 65em;
                height: 55em;
                margin-top: -45em;
                left: -19em;
                
            }
        }

        #pattern2{
            img{
                width: 55em;
                height: 50em;
                left: 55%;
                z-index: -1;
            }
        }
    }
}
