/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #19a2ae;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#pattern {
  position: relative;
}

#pattern #pattern1 img {
  width: 18em;
  height: 30em;
  position: absolute;
}

#pattern #pattern2 img {
  margin-top: 25vh;
  left: 50%;
  width: 40em;
  position: absolute;
}

#box {
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.2);
  width: 20em;
}

#box #bg-pattern img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

#box #box-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#box #box-bio .dispImg {
  margin: 0 auto;
  position: relative;
  bottom: 3rem;
}

#box #box-bio .dispImg img {
  border-radius: 50%;
  border: 5px solid white;
}

#box #box-bio .bio {
  position: relative;
  margin-top: -2em;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

#box #box-bio .bio .name {
  font-weight: 700;
  font-size: 18px;
  padding-right: 5px;
  color: #414141;
  letter-spacing: 0.5px;
}

#box #box-bio .bio .age {
  font-weight: 400;
  font-size: 18px;
  color: #575757;
}

#box #box-bio .bio .state {
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: 14px;
  color: grey;
  text-align: center;
}

#box #box-bio .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: inherit;
  padding: 2em 1em;
  text-align: center;
  color: #414141;
}

#box #box-bio .info .followers .numb1 {
  font-size: 18px;
  font-weight: 700;
}

#box #box-bio .info .followers .label1 {
  font-size: 10px;
  padding-top: 0.8em;
  letter-spacing: 2px;
}

#box #box-bio .info .likes .numb2 {
  font-size: 18px;
  font-weight: 700;
}

#box #box-bio .info .likes .label2 {
  font-size: 10px;
  padding-top: 0.8em;
  letter-spacing: 2px;
}

#box #box-bio .info .photos .numb3 {
  font-size: 18px;
  font-weight: 700;
}

#box #box-bio .info .photos .label3 {
  font-size: 10px;
  padding-top: 0.8em;
  letter-spacing: 2px;
}

footer {
  margin-top: 20vh;
  color: white;
}

footer .attribution a {
  color: black;
  text-decoration: none;
}

footer .attribution a:hover {
  text-decoration: underline;
}

/* media queries */
@media screen and (min-width: 320px) {
  #pattern #pattern1 img {
    width: 65em;
    height: 55em;
    margin-top: -45em;
    left: -19em;
  }
  #pattern #pattern2 img {
    width: 55em;
    height: 50em;
    left: 55%;
    z-index: -1;
  }
}
/*# sourceMappingURL=style.css.map */